html {
  font-family: verdana;
}

h1 {
  font-family: verdana;
  font-size: 50px;
  color: white;
  text-align: center;
  }

h2 {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

  body {
      background-color: black;
      text-align: center;
  }

  .bodyText {
    font-family: verdana;
    font-size: 21px;
    color: gray;
  }

  .linkText {
    text-decoration: underline;
    color: aquamarine;
    font-size: 16px;
  }

  a:visited {
      color: aquamarine;
  }

  a:link {
      color: aquamarine;
  }

  .bottom {
    color: gray;
    text-align: right;
    text-decoration: none;
}
